# $Id$
# {{ hostvars[inventory_hostname].ansible_distribution }} {{ hostvars[inventory_hostname].ansible_distribution_version }}
# {{ ansible_managed }}
# Manual customization of this file is not recommended.

driftfile {{ driftfile | default('/var/lib/ntp/ntp.drift') }}

restrict default ignore
restrict 127.0.0.1 
restrict -6 ::1

{% for x in ntppool %}
pool {{ x }} iburst
{% endfor %}

# By default, exchange time with everybody, but don't allow configuration.
restrict -4 default kod notrap nomodify nopeer noquery limited
restrict -6 default kod notrap nomodify nopeer noquery limited

# Needed for adding pool entries
restrict source notrap nomodify noquery

server 0.ru.pool.ntp.org iburst prefer
server 1.ru.pool.ntp.org iburst prefer
server 2.ru.pool.ntp.org iburst prefer
server 3.ru.pool.ntp.org iburst prefer

#includefile /etc/ntp/crypto/pw

#keys /etc/ntp/keys

restrict 127.127.1.0

# CLUSTER
{% for x in hadoop_white_ip %}
restrict {{ x }} mask 255.255.255.255 nomodify notrap
{% endfor %}
